.thriftify {
  position: relative;
  font-size: 64px;
  font-family: "Bebas Neue";
  color: #fff;
  text-align: center;
  z-index: 0;
}
.navlogo {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logsignbutton {
 width: auto;
 height: 2.3em;
 margin: 0.5em;
 background: #1e1e1e;
 color: white;
 border: none;
 border-radius: 20px;
 font-size: 36px;
 font-family: "Bebas Neue";
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

.logsignbutton:hover {
 color: black;
}

.logsignbutton:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -50%;
 right: -50%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

.logsignbutton:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}
.logsignbuttons,
.navbarheader{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logsignbuttons,
.navbarheader {
  justify-content: space-between;
  box-sizing: border-box;
}
.logsignbuttons {
  width: 300px;
  padding: 0 25px;
}

.navbarheader {
  align-self: stretch;
  background-color: #1e1e1e;
  height: auto;
  width: 100%;
  
  padding: 0 10px;
}
.navsubbuttonbox {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Bebas Neue";
  color: #1e1e1e;
  font-weight: 900;
}

.navsubbuttonbox:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.navsubbuttonbox:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.navsubbuttonbox:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.navsubbuttonbox:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.navsubbuttonbox:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

.navsubbutton {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
.searchbar-container {
  width: 220px;
  position: relative;
}

.searchbar-icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.searchbar-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.searchbar:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.searchbar-container:hover > .searchbar-icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}
.searchbar {
  align-items: center;
}
.searchbar {
  border: 1px solid #1e1e1e;
  font-family: "Bebas Neue";
  font-size: 16px;
  box-sizing: border-box;
  width: 400px;
}
.header,
.navsubheader {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.navsubheader {
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px;
  position: sticky; top: 0;
}
.header {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.groupshot-c-ximena-del-valle-6-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 389px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}

.groupbanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 15px;
  gap: 10px;
  font-size: 36px;
  color: #fff;
}
.groupbanner,
.shop-by-cores-container {
  align-self: stretch;
  position: relative;
}
.core-card {
  overflow: visible;
  position: relative;
  width: 200px;
  height: 322px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.core-card:before,
.core-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -99;
}

.core-details {
  position: absolute;
  left: -10px;
  right: 0;
  bottom: 5px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}

/*Image*/
.core-imgbox {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.core-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Text*/
.core-title {
  font-weight: 600;
  font-size: 20px;
  font-family: "Bebas Neue";
  color: #1e1e1e;
}

/*Hover*/
.core-card:hover .core-imgbox {
  bottom: 80px;
}

.core-card:hover:before {
  transform: rotate(20deg);
}

.core-card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}
.helmut-lang-archive-gqstyle-sp-icon {
  position: relative;
  width: 213.9px;
  height: 322px;
  object-fit: cover;
}
.archive {
  position: relative;
  font-size: 40px;
  font-family: "Bebas Neue";
  color: #000;
  text-align: center;
}
.archivebanner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.avant-garde-imageb-7-682x1024-icon {
  position: relative;
  width: 182.1px;
  height: 322px;
  object-fit: cover;
}
.avantgardebanner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.f0c16aa4998fea7abceb0e6699afe5-icon,
.rick-rowens-1 {
  position: relative;
  width: 200px;
  height: 322px;
  object-fit: cover;
}
.f0c16aa4998fea7abceb0e6699afe5-icon {
  width: 209px;
}
.gorpcorebanner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.bmm15293-black-xl-1-icon {
  position: relative;
  width: 198px;
  height: 313px;
  object-fit: cover;
}
.vintagebanner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
}
.faa401cd1989cb52419d09f7833635-icon {
  position: relative;
  width: 197px;
  height: 322px;
  object-fit: cover;
}
.corebanners,
.shopbycores {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.shopbycores {
  flex-direction: column;
  justify-content: center;
}
.tom-ford-fw19-steven-klein-01-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 915px;
  flex-shrink: 0;
  object-fit: cover;
}
.mens-fashion1 {
  position: relative;
  display: inline-block;
  width: 183px;
  height: 54px;
  flex-shrink: 0;
}
.n-1-icon {
  position: relative;
  width: 234px;
  height: 248px;
  object-fit: cover;
}
.nascar-jeff-gordon,
.sta-rosalaguna {
  position: relative;
  font-family: "Bebas Neue";
  text-align: left;
}
.nascar-jeff-gordon {
  font-size: 16px;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  width: 234px;
  flex-shrink: 0;
}
.sta-rosalaguna {
  flex: 1;
  font-size: 12px;
  color: #844b4b;
}
.mensbanner,
.php-3500 {
  width: 234px;
  display: flex;
  align-items: center;
}
.php-3500 {
  position: relative;
  font-size: 20px;
  font-family: "Bebas Neue";
  color: #000;
  text-align: left;
  flex-shrink: 0;
}
.mensbanner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image-1-icon {
  position: relative;
  width: 236px;
  height: 247.5px;
  object-fit: cover;
}
.mensfashionsection {
  align-self: stretch;
  height: 685px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 59px;
}

.mensfashion {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.seemorebutton {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.seemorebutton:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

.seemorebutton:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};
.mensfashion {
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 0;
}
.womans-fashion {
  position: relative;
}
.gentle-woman-crop,
.php-2200 {
  position: relative;
  font-size: 16px;
  font-family: "Bebas Neue";
  color: #1e1e1e;
  text-align: left;
  display: flex;
  align-items: center;
  width: 234px;
}
.php-2200 {
  font-size: 20px;
  color: #000;
}
.womensbanner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.n-1-icon12 {
  position: relative;
  border-radius: 11px;
  width: 234px;
  height: 248px;
  object-fit: cover;
}
.pasay-city {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  font-family: "Bebas Neue";
  color: #844b4b;
  text-align: left;
}
.celine-loose-shirt {
  font-size: 16px;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  width: 234px;
  height: 22px;
}
.celine-loose-shirt,
.php-2100,
.plaridel-bulacan1 {
  position: relative;
  font-family: "Bebas Neue";
  text-align: left;
  flex-shrink: 0;
}
.plaridel-bulacan1 {
  align-self: stretch;
  font-size: 12px;
  color: #844b4b;
  display: inline-block;
  height: 16px;
}
.php-2100 {
  font-size: 20px;
  color: #000;
  display: flex;
  align-items: center;
  width: 234px;
  height: 28px;
}
.womensbanner4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 234px;
  height: 296px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.womensfashionsection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 59px;
}
.othersbanner4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 234px;
  height: 334px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.othersfashionsection {
  width: 1440px;
  height: 693.5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 59px;
}
.dior-fall-mens-2020-campaign-6-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1139px;
  object-fit: cover;
}
.about,
.dior-fall-mens-2020-campaign-6-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dior-fall-mens-2020-campaign-6-wrapper {
  align-self: stretch;
  height: 1139px;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 0;
}
.about {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 63px;
  justify-content: flex-start;
}
.help-faq {
  position: relative;
  font-size: 32px;
  font-family: "Bebas Neue";
  color: #000;
  text-align: center;
}
.helpfaq {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footerinfos,
.thriftify2023,
.thriftifyfooter {
  width: 777px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.thriftify2023,
.thriftifyfooter {
  width: 222px;
  justify-content: center;
}
.thriftifyfooter {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  justify-content: space-between;
  padding: 25px 20px;
  box-sizing: border-box;
  z-index: 1;
}
.desktop-1,
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  align-self: stretch;
  justify-content: center;
  font-size: 36px;
}
.desktop-1 {
  background-color: #fff;
  width: 100%;
  justify-content: flex-start;
  text-align: center;
  font-size: 40px;
  color: #000;
  font-family: "Bebas Neue";
}