.navbarheader {
  align-self: stretch;
  background-color: #1e1e1e;
  height: auto;
  width: 100%;
}
.thriftify {
  position: relative;
  font-size: 64px;
  font-family: "Bebas Neue";
  color: #fff;
  text-align: center;
  z-index: 0;
}
.navlogo {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logsignbutton {
 width: auto;
 height: 2.3em;
 margin: 0.5em;
 background: #1e1e1e;
 color: white;
 border: none;
 border-radius: 20px;
 font-size: 36px;
 font-family: "Bebas Neue";
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

.logsignbutton:hover {
 color: black;
}

.logsignbutton:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -50%;
 right: -50%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

.logsignbutton:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}
.logsignbuttons,
.navbarheader{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logsignbuttons,
.navbarheader {
  justify-content: space-between;
  box-sizing: border-box;
}
.logsignbuttons {
  width: 300px;
  padding: 0 25px;
}

.navsubbuttonbox {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Bebas Neue";
  color: #1e1e1e;
  font-weight: 900;
}

.navsubbuttonbox:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.navsubbuttonbox:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.navsubbuttonbox:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.navsubbuttonbox:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.navsubbuttonbox:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

.navsubbutton {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
.searchbar-container {
  width: 220px;
  position: relative;
}

.searchbar-icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.searchbar-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.searchbar:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.searchbar-container:hover > .searchbar-icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}
.searchbar {
  align-items: center;
}
.searchbar {
  border: 1px solid #1e1e1e;
  font-family: "Bebas Neue";
  font-size: 16px;
  box-sizing: border-box;
  width: 400px;
}
.header,
.navsubheader {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.navsubheader {
  background-color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 50px;
  position: sticky; top: 0;
}
.header {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.groupshot-c-ximena-del-valle-6-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 389px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}

.groupbanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 15px;
  gap: 10px;
  font-size: 36px;
  color: #fff;
}
.groupbanner,
.shop-by-cores-container {
  align-self: stretch;
  position: relative;
}
.core-book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 315px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  padding: 5px;
}

.core-cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.core-book:hover .core-cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.core-p {
  font-size: 20px;
  font-weight: bolder;
}

.corebanners,
.shopbycores {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.shopbycores {
  flex-direction: column;
  justify-content: center;
}
.tom-ford-fw19-steven-klein-01-icon {
  align-self: stretch;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
}

.fashionsection {
  align-self: stretch;
  height: 685px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 59px;
  padding: 10px;
}

.fashion {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.item-card {
  position: relative;
  width: 200px;
  height: 300px;
  background: #fff;
  border: solid 4px #333;
  box-shadow: -5px 5px #333;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}

.item-card:hover {
  margin: 10px 10px 0 0;
  box-shadow: 0px 0px #333;
}

.item-card .item-img-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter .2s 1s ease-in-out;
}

.item-card:hover .item-img-card {
  filter: blur(5px);
}

.item-card .item-add-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 250px;
  font-weight: bold;
  font-size: 19px;
  opacity: 0;
}

.item-card:hover .item-add-cart {
  opacity: 1;
  transition: opacity .3s 1s ease-in-out;
}

.item-card .item-info-card {
  position: absolute;
  background-color: #fff;
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid 1px #333;
}
.item-card .item-info-card p {
  font-size: 14px;
  margin: 5px;
}
.seemorebutton {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.seemorebutton:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

.seemorebutton:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};
.fashion {
  flex-direction: column;
  justify-content: flex-wrap;
  padding: 15px 0;
}

.dior-fall-mens-2020-campaign-6-icon {
  flex: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 1139px;
  object-fit: cover;
}
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dior-fall-mens-2020-campaign-6-wrapper {
  align-self: stretch;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 0;
}

.help-faq {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-size: 32px;
  font-family: "Bebas Neue";
  color: #000;
}

.help-faq:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.help-faq:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.help-faq:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.help-faq:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.help-faq:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

.helpfaq {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footerinfos,
.thriftify2023,
.thriftifyfooter {
  width: 777px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.thriftify2023,
.thriftifyfooter {
  width: 222px;
  justify-content: center;
}
.thriftifyfooter {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  justify-content: space-between;
  padding: 25px 20px;
  box-sizing: border-box;
  z-index: 1;
}
.desktop-1,
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer {
  align-self: stretch;
  justify-content: center;
  font-size: 36px;
}
.desktop-1 {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  text-align: center;
  font-size: 40px;
  color: #000;
  font-family: "Bebas Neue";
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 480px){

}